body {
    background-color: #575963;
}

#page-container {
    max-width: 750px;
    border-radius: 10px;
    border: 1px solid #eee;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    overflow: hidden;
}

main {
    padding: 5%;
}

#feed-post-textarea {
    resize: none;
}

#profile-picture {
    height: 200px;
    width: 200px;
    background-color: #ccc;
    border-radius: 100%;
}

#logged-in-name {
    font-size: 1.2rem;
    line-height: 100%;
}

#logged-in-image {
    background-color: #ccc;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.post-sender {
    font-size: 1.4rem;
    vertical-align: bottom;
}

.post-timestamp, .comment-timestamp {
   font-size: .8rem;
   font-style: italic;
   vertical-align: bottom;
}

.post-comment {
    font-size: .9rem;
    padding: 5px 10px;
    margin: 10px 0;
    margin-top: 0;
    border: 1px solid #eee;
    border-radius: 5px;
}

.post-comment p {
    margin: 0;
}

.like-button {
    min-width: 100px;
}

a, a:visited {
    text-decoration: none;
}

.user-listing-image {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #ccc;
}

.page-numbering {
    font-size: 1.1rem;
}

@media (max-width: 768px) { 
    #page-container {
        border-radius: 0;
        border: none;
        margin-top: 0;
        max-width: 100%;
    }
}

@media (max-width: 576px) { 
    .nav-pills > li{
        width: 100%;
    }
   
    .nav-pills button {
        width: 100%;
    }
}