<p th:if="${feed.empty}" class="text-center p-5">
    <span>No posts to show</span>
</p>
<div th:each="post : ${feed}" class="post d-flex flex-column my-4" th:attr="data-postid=${post.id}">
    <div class="d-flex align-items-sm-end justify-content-between flex-sm-row flex-column">
        <p class="post-sender m-0">
            <a th:href="@{/account/{username}(username=${post.owner})}" th:text="${post.owner}"></a>
        </p>
        <p class="timestamp post-timestamp m-0 text-muted align-self-sm-center" th:text="${post.createdAt}"></p>
    </div>
    <div class="post-content mt-1">
        <p th:text="${post.content}"></p>
    </div>

    <div th:replace="fragments/layout :: controls(canLike=${post.canLike}, canComment=${post.canComment}, likes=${post.likes}, cantCommentMessage='Only followers of the author can comment')"></div>
    <div th:replace="fragments/layout :: comments(comments=${post.comments})"></div>
    
</div>