<div class="follow-list mt-3">
    <p th:if="${users.empty}" class="text-center p-5">
        Nobody here yet &#128533;
    </p>
    <div th:each="user : ${users}" th:attr="data-userid=${user.userId}">
        <div class="card mb-2">
            <div class="card-body">
                <div class="d-flex flex-row align-items-center">
                    <img class="user-listing-image d-none d-sm-block" th:src="@{/photos/{id}(id=${user.profilePictureId})}">
                    <div class="ps-sm-4 d-flex flex-column justify-content-center ms-2">
                        <h4>
                            <a th:href="@{/account/{username}(username=${user.username})}" th:text="${user.username}"></a>
                        </h4>
                        <p th:text="${user.firstName + ' ' + user.lastName}"></p>
                    </div>
                    <div class="d-flex flex-column align-items-end flex-grow-1 align-self-start">
                        <span th:if="${user.startedAt != null}" class="fst-italic text-muted">Since</span>
                        <span th:if="${user.startedAt != null}" class="timestamp py-1 text-end" th:text="${user.startedAt}"></span>
                        <button th:if="${user.isBlocked != null and !user.isBlocked}" class="block-follower-button btn btn-outline-secondary mt-2">
                            <i class="bi bi-shield"></i>
                            <span>Block</span>
                        </button>
                        <button th:if="${user.isBlocked != null and user.isBlocked}" class="block-follower-button btn btn-outline-danger mt-2">
                            <i class="bi bi-shield-fill"></i>
                            <span>Blocked</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
