<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='User search')"></head>
    <body>
        <div id="page-container" class="container">
            <header th:replace="fragments/layout :: header"></header>
            
            <main>
                <div class="d-flex flex-column">
                    <p th:if="${users.empty}" class="text-center p-5">
                        Couldn't find users matching the name 
                        <span class="fw-bold" th:text="${param.query}"></span>
                        &#128533;
                    </p>
                    <div th:each="user : ${users}" class="d-flex flex-row my-4 align-items-center">
                        <img class="user-listing-image" th:src="@{/photos/{id}(id=${user.profilePictureId})}" />
                        <div class="ps-4">
                            <h4>
                                <a th:href="@{/account/{username}(username=${user.username})}" th:text="${user.username}"></a>
                            </h4>
                            <p th:text="${user.firstName + ' ' + user.lastName}"></p>
                        </div>
                    </div>
                    <nav class="mt-4">
                        <form th:action='@{/account/search}' method="get" class="d-flex flex-row align-items-center justify-content-center">
                            <input type="hidden" name="query" th:value="${query}">
                            <button th:disabled="${currentPage == 0}" name="page" th:value="${currentPage - 1}" class="btn btn-lg btn-link" type="submit">
                                <i class="bi bi-arrow-left-circle-fill"></i>
                            </button>
                            <span class="page-numbering" th:text="${(currentPage + 1) + ' of ' + totalPages}"></span>
                            <button th:disabled="${(currentPage + 1) == totalPages}" name="page" th:value="${currentPage + 1}" class="btn btn-lg btn-link" type="submit">
                                <i class="bi bi-arrow-right-circle-fill"></i>
                            </button>
                        </form>
                    </nav>
                </div>
            </main>
            
        </div>
        
        <th:block th:include="fragments/layout :: scripts"></th:block>
        
    </body>
</html>